.App {
  /* text-align: center; */
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.banner {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 20px;
}

.post-wrapper img {
  width: fit-content;
}

.post-wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(25, 33, 36);
  line-height: 30px;
  margin: auto;
}

.title-wrapper {
  font-size: 1.3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
